
.question{
	padding: 5em 0;
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.faq{
	padding: 2px 10px;
    background: yellow;
    width: 27px;
}
.opendiv{
position: relative;
}
.opendiv h2{
	padding: 1em 0;
}
.whatC{
	font-weight: 500;
    font-size: 2.5em;
}

.block{
	display: block;
}
.none{
	display: none;
}
.span{
	font-size: 15px;
}

.hide{
	display:block;
}
.wdim100{
	width: 100%;
}
.wdim100 img{
	width: 100%;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
   }
.accordion-wrapper {
	margin-top: 2em;
}
.accordion-item {
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
	height: auto;
	max-height: 9999px;
}
.accordion-item.collapsed {
	max-height: 0;
	transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion-title {
	font-weight: 600;
	font-size: 1.1em;
	color: gray;
} 
    
.accordion-content {
	padding: 1em 1.5em;
}
   




@media only screen and (max-width: 390px) {
	
}

@media only screen and (min-width: 600px) {
	
}

@media only screen and (min-width: 770px) {
	.design{
		
		justify-content: space-between;
		
	}
}

@media only screen and (min-width: 1120px) {
.question{
	flex-wrap: nowrap;
}
.wdim100{
	width: inherit;
}
.wdim100 img{
	width: initial;
}
}