
.contactFlex{
width: 80%;
margin: 0 auto;
padding: 4em 0 2em 0;
display: flex;
justify-content: center;
flex-wrap: wrap;

}
.call{
	width: 400px;
}
.txtStart{
	text-align: inherit;
	padding: 0 0 1em 0;
}
.fnt{
	font-size: 1.3125rem!important;
}
.call p{
	line-height: 1.8;
}

.input{
	width: 500px;
}
.mr2{
	margin: 0em 0 2em 0;
}

.inputs{
	width: 100%;
    border: none;
    background: #f5df4e!important;
    padding: 15px;
    outline: none;
    border-bottom: 1px solid black;
}
.bgCon{
	background-color: #f5df4e!important;
}
.pd2C{
	padding: 2em 0 0.2em 0;
}
.calPd8{
	padding: 8px 0;
}

.txtArea{
	background: #f5df4e!important;
    width: 100%;
    border: none;
    height: 200px;
    border-bottom: 1px solid black;
    outline: none;
}
.btnSend{
	padding: 15px 40px;
	border: navajowhite;
	background: black;
	color: white;
}



@media only screen and (max-width: 390px) {
	
}

@media only screen and (min-width: 600px) {
	
}

@media only screen and (min-width: 730px) {

}
@media only screen and (min-width: 770px) {


}

@media only screen and (min-width: 935px) {

}
@media only screen and (min-width: 1120px) {
	.contactFlex{
		justify-content: space-between;
		flex-wrap: nowrap;
	}
}