.bgGray{
	background-color: rgb(245, 240, 240);
}
.mr5{
	padding-top: 5em;
	
}

.mrp5{
	padding-bottom: 5em;
}
.whatBtn{
	text-align: center;
}
.whatBtn p{
	width: 100px;
	margin: 0 auto;
	padding: 1px;
	background: #f5df4e;
 
}
.design{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.wd80{
	width: 80%;
	margin: 0 auto;
}
.logos{
	font-size: 3.2em;
    color: #dddd10;
}
.txtCenter{
	text-align: center;
	width: 300px;
	padding-top: 20px;
}
.text{
	font-size: 1.07em;
    color: #7e7979;
    padding: 15px 10px;
    width: 300px;
    margin: 0 auto;
}





@media only screen and (max-width: 390px) {
	
}

@media only screen and (min-width: 600px) {
	
}

@media only screen and (min-width: 770px) {
	.design{
		
		justify-content: space-between;
		
	}
}

@media only screen and (min-width: 1120px) {

}