main{
padding-top: 5.5em;
}
html {
	scroll-behavior: smooth;
   }

.aboutme{
	text-align: center;
	font-size: 1em;
}
.aboutme p{
	padding: 2px;
	width: 80px;
	margin: 0 auto;
	background-color: #f5df4e;
}
h1{
	font-weight: 500;
    text-align: center;
    font-size: 2.5em;
}
.wd-80 {
	width: 100% ;
 }

.Know{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.Know article h2{
	text-align: center;
	font-size: 1.9em;
	font-weight:400;
}
.pt2{
	padding-top: 2em;
}
.Know article:last-child{
	text-align: center;
	width: 100%;
}
.Know article div{
	font-size: 8em;
	position: relative;
}
.Know article:first-child p{
	
	text-align:center;
	font-size: 1.37em;
	line-height: 1.8;
}
.bgYellow{
	width: 120px;
	height: 120px;
	background: #f5df4e;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: -1;
}
.Elaqe{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2em 0;
}
.mr-auto{
	margin: 0 auto;
}
.nameEm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nameEm div{
	padding: 20px  5px 10px 5px;
	font-weight: 500;
	font-size: 1.1em;
	color: gray;
}
.bold{
	color: black !important;
}

.mr-auto600{
	margin: 0 auto;
 }
@media only screen and (max-width: 390px) {
	
 }
 
 @media only screen and (min-width: 600px) {
	.wd-80 {
		width: 80%;
		margin: 0 auto;
	 }
	
 }
 
 @media only screen and (min-width: 1120px) {
	.mr-auto600{
		margin: 0;
	}
	.Know{
		flex-wrap: nowrap;
	}
	.Know article div{
		width: 400px;
		padding:0.5em  40px 0 40px;
		
	}
	.bgYellow{
		
		top: 100px;
		left: 185px;
		transform: inherit;
		
	}
	.Know article:last-child{
		width: inherit;
	}
	.wd-400{
		width: 400px;
	}
	.wd-600{
		width: 600px;
	}
	.Know article:first-child p{
		text-align:left;
	}
	.Know article h2{
		text-align: inherit;
	}
	.nameEm{
		flex-wrap: nowrap;
	}
 }