
.contentP{
width: 80%;
padding: 5em 0;
margin: 0 auto;
}
.bgBeige{
	background-color: rgb(240 245 244);;
}
.centr{
	text-align: center;
}
.Portfolio{
	margin: 0 auto;
    width: 70px;
    background: #dfdf05;
    padding: 2px;
    color: white;
}
.pickOut{
	display: flex;
	width: 45%;
	margin: 2em auto;
}
.pickOut ul{
	display: flex;
	flex-wrap: wrap;
	 justify-content: space-around; 
	 width: 100%;
}

.pictures{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wd300{
	width: 300px;
}
.wd300 img{
	width: 100%;
	padding-top: 1em;
}
@media only screen and (max-width: 390px) {
	
}

@media only screen and (min-width: 600px) {
	
}

@media only screen and (min-width: 770px) {
	.design{
		
		justify-content: space-between;
		
	}
}

@media only screen and (min-width: 1120px) {

}